In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as splt
import seaborn

In [24]:
df = pd.read_excel('/content/gdrive/MyDrive/Data set/100_row dataset(demo).xlsx')
df

     Unnamed: 0  Divergence  ...  Vorticity (relative)  label
0             0    0.601915  ...              0.602212      0
1             1    0.462063  ...              0.607871      0
2             2    0.565063  ...              0.656121      1
3             3    0.573318  ...              0.686636      0
4             4    0.369882  ...              0.682656      0
..          ...         ...  ...                   ...    ...
97           97    0.508892  ...              0.649948      0
98           98    0.507481  ...              0.653901      0
99           99    0.610273  ...              0.649315      0
100         100    0.457933  ...              0.663197      0
101         101    0.501286  ...              0.664515      1

[102 rows x 13 columns]

In [25]:
df.shape

(102, 13)

In [26]:
df.isnull().sum()

Unnamed: 0                 0
Divergence                 0
Geopotential               0
Ozone mass mixing ratio    0
Potential vorticity        0
Relative humidity          0
Specific humidity          0
Temperature                0
U component of wind        0
V component of wind        0
Vertical velocity          0
Vorticity (relative)       0
label                      0
dtype: int64

In [28]:
x = df.drop(['label'], axis=1)

In [29]:
x

     Unnamed: 0  Divergence  ...  Vertical velocity  Vorticity (relative)
0             0    0.601915  ...           0.394114              0.602212
1             1    0.462063  ...           0.485907              0.607871
2             2    0.565063  ...           0.548441              0.656121
3             3    0.573318  ...           0.626936              0.686636
4             4    0.369882  ...           0.545399              0.682656
..          ...         ...  ...                ...                   ...
97           97    0.508892  ...           0.516431              0.649948
98           98    0.507481  ...           0.519011              0.653901
99           99    0.610273  ...           0.496650              0.649315
100         100    0.457933  ...           0.429275              0.663197
101         101    0.501286  ...           0.498039              0.664515

[102 rows x 12 columns]

In [30]:
y = df['label']

In [31]:
y

0      0
1      0
2      1
3      0
4      0
      ..
97     0
98     0
99     0
100    0
101    1
Name: label, Length: 102, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [33]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=.25,random_state = 1)

In [34]:
xtrain

    Unnamed: 0  Divergence  ...  Vertical velocity  Vorticity (relative)
42          42    0.443661  ...           0.556318              0.709062
10          10    0.448585  ...           0.575264              0.654427
2            2    0.565063  ...           0.548441              0.656121
54          54    0.446740  ...           0.568754              0.682944
67          67    0.632534  ...           0.480455              0.658198
..         ...         ...  ...                ...                   ...
75          75    0.489754  ...           0.506563              0.685379
9            9    0.442521  ...           0.570810              0.672843
72          72    0.464759  ...           0.537722              0.634478
12          12    0.507523  ...           0.646248              0.663211
37          37    0.449876  ...           0.526670              0.679552

[76 rows x 12 columns]

In [36]:
model = SVC(gamma='auto')
#model = SVC(kernel='linear',C=1.0)

In [37]:
x.shape

(102, 12)

In [38]:
model.fit(xtrain,ytrain)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [39]:
model.score(xtest, ytest)

0.9230769230769231

In [40]:
from sklearn.tree import DecisionTreeClassifier

In [41]:
clf = DecisionTreeClassifier()

In [42]:
clf.fit(xtrain,ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [43]:
clf.score(xtest, ytest)

0.8846153846153846